/* Add this CSS for the modal */
.task-modal {
	display: block;
	position: fixed;
	z-index: 3;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
}

.task-modal-content {
	display: block;
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	/* width: 80%; */
	max-width: fit-content;
	border-radius: 5px;
	position: relative;
	z-index: 2;
}

.close {
	color: #777;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #444;
	text-decoration: none;
	cursor: pointer;
}

.taskForm {
	margin-top: 25px;
	display: block;
	position: relative;
}

.taskForm * {
	display: block;
	position: relative;
	margin: 12PX 0;
	padding: 5px;
	width: 85%;
	color: #777;
	font-size: 15px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	outline: none;
	border: 1px solid #777;
	border-radius: 2px;
	border-color: #aaa;
}

select:first-child {
	opacity: 0.85;
	color: red;
}

.taskForm input:focus, .taskForm textarea:focus {
	/* font-family: 'Courier New', Courier, monospace; */
	padding: 8px;
	color: #555;
}

.text-input {
	all: unset;
	margin: 0;
	padding: 0;
	display: block;
	position: relative;
}

.taskForm .text-input label {
	all: unset;
	display: block;
	position: absolute;
	font-size: 15px;
	left: 0;
	top: 0;
	z-index: 2;
	padding: 5px;
	color: #777;
	pointer-events: none; /* makes the label not clickable just like it does not exist */
	transition: 0.1s;
}

.taskForm .text-input input:focus ~ label,
.taskForm .text-input input:valid ~ label {
	transition: 0.1s;
	font-size: 10px;
}

.taskForm .text-input input:focus,
.taskForm .text-input input:valid {
	padding-top: 18px;
	padding-left: 10px;
}

.taskForm textarea {
	font-size: 14px;
	overflow: hidden;
	resize: none;
	height: auto;
	max-height: 500px;
}

.taskForm input[type='datetime-local'] {
	color: #aaa;
}

.taskForm input[type='datetime-local']:focus {
	color: #555;
}

.taskForm button {
	width: max-content;
	padding: 5px 8px;
}

#confirmBox {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	width: max-content;
}

#confirmBox p {
	margin: 0 0 10px;
	font-size: 1.05em;
}

#confirmBox button {
	display: inline-block;
	margin: 0 auto;
	padding: 3px 8px;
	border: none;
	border: 1px solid #444;
	border-radius: 5px;
	background: none;
	color: #444;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	/* font-weight: bold; */
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
	margin-right: 10px;
}

#confirmBox button:hover {
	opacity: 0.7;
}

button.add-task {
	color: #eee;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.add-group {
	display: block;
	background-color: none;
	padding: 0;
}

.add-group legend, .add-group input {
	margin: 0;
	margin-left: 4px;
	padding: 2px;
	padding-left: 4px;
}

.add-group input {
	width: calc(100% - 2px);
	border: none;
}